/*------------------------------------------------------------------------------
   Generique
------------------------------------------------------------------------------*/
    html {
box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
.wrapper{
    width: 1320px;
}
h1{
    
}
/*------------------------------------------------------------------------------
   Elements
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
    Components
------------------------------------------------------------------------------*/